h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

#logo {
  width: 50px;
  height: 50px;
  margin-top: -6px;
  margin-right: 10px;
}

#header_nav {
  margin-bottom: 15px;
  box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
}

.top-bar {
  height: 60px;
}

.top-bar .name {
  height: 60px;
}

.top-bar .name h1 {
  line-height: 60px;
  font-size: 1.8em;
}

.top-bar .name h1 a {
  width: 100%;
}

.top-bar-section > ul { 
  margin-top: 8px;
}

.top-bar .toggle-topbar {
  margin-top: 8px;
}

#searchbox {
  margin-top: -3px;
}

.meta {
  margin-left: 2px;
  color: #999;
  margin-bottom: 20px;
}

.meta span {
  margin-right: 10px;
}

.meta .author:before { 
  font: 1.0em FontAwesome;
  content: "\f007"
}

.meta .date:before { 
  font: 1.0em FontAwesome;
  content: "\f073"
}

.meta .categories:before { 
  font: 1.0em FontAwesome;
  content: "\f02c"
}

.meta a {
  color: #999
}

#index-hero {
  background: #5C7280;
  color: #E2E8EB;
  text-align: center;
  margin-top: -15px;
  padding-top: 15px;
}

#index-hero h1 {
  color: #E2E8EB;
  margin-bottom: 15px;
  font-weight: bold;
}

#index-teaser {
  background: #EBEBEB;
  color: #222;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D9D8D7;
}

#mono-download.tabs dd > a {
  font-size: 1.5em;
  white-space: nowrap;
}

#mono-download.tabs dd.active a {
  background-color: #333;
  color: #fff;
}

#mono-download.tabs dd {
  line-height: 0.9em;
}

code {
  font-weight: normal;
  font-size: 0.95em;
  line-height: 1.5;
}

.header-link {
  display: none;
  color: #666;
  font-size: 0.7em;
  padding-left: 1%;
}

.header-link:hover {
  color: #222;
}

h1:hover .header-link,
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  display: inline;
}

#main-wrapper {
  min-height: 100%;
  margin: 0 auto -100px;
}

#push {
  height: 140px;
}

footer {
  background-color: #EBEBEB;
  color: #707070;
  border-top: 1px solid #D9D8D7;
  height: 100px;
  padding: 25px 0;
}

footer ul {
  font-size: 0.85em;
}

footer h6 a {
  color: #000;
}
