{% if index %}
  <h1 itemprop="name"><a href="{{blogpost.url}}" itemprop="url">{{ blogpost.title }}</a></h1>
  {% include blogpost/meta.html %}
  <div itemprop="articleBody">
    {{ content | excerpt }}
    {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}<a href="{{blogpost.url}}">{{ site.excerpt_link }}</a>{% endif %}
  </div>
{% else %}
  <h1 itemprop="name">{{ page.title }}</h1>
  {% include blogpost/meta.html %}
  <div itemprop="articleBody">{{ content }}</div>
{% endif %}
