<footer class="row">
  <hr />
  <div class="large-12 columns">
    <div class="row">
      <div class="large-2 columns">
        <h6><a href="http://xamarin.com">Xamarin</a></h6>
        <ul class="no-bullet">
          <li><a href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img src="{{site.baseurl}}/images/cc-by-sa.png"/></a></li>
          <li><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img src="{{site.baseurl}}/images/cc-by-nc-nd.png"/></a></li>
          <li><a href="{{site.baseurl}}/old_site/Legal">Legal Notices</a></li>
        </ul>
      </div>
      <div class="large-2 columns">
        <h6>Mono</h6>
        <ul class="no-bullet">
          <li><a href="{{site.baseurl}}/old_site/About_Mono">About</a></li>
          <li><a href="{{site.baseurl}}/old_site/Mono_Project_Roadmap">Roadmap</a></li>
          <li><a href="{{site.baseurl}}/old_site/Plans">Technologies</a></li>
          <li><a href="{{site.baseurl}}/old_site/Screenshots">Screenshots</a></li>
          <li><a href="{{site.baseurl}}/old_site/FAQ:_General">FAQ</a></li>
          <li><a href="{{site.baseurl}}/old_site/Contact">Contact</a></li>
        </ul>
      </div>
      <div class="large-2 columns">
        <h6>Download</h6>
        <ul class="no-bullet">
          <li><a href="http://www.go-mono.com/mono-downloads/download.html">Latest Release</a></li>
          <li><a href="http://mono.ximian.com/daily/">Daily Snapshots</a></li>
          <li><a href="{{site.baseurl}}/old_site/OldReleases">Previous Releases</a></li>
          <li><a href="http://monodevelop.com/Download">MonoDevelop</a></li>
          <li><a href="{{site.baseurl}}/old_site/MoMA">Mono Migration Analyzer</a></li>
          <li><a href="http://www.go-mono.com/moonlight/">Moonlight</a></li>
          <li><a href="http://xamarin.com/download">Xamarin.iOS (MonoTouch)</a></li>
          <li><a href="http://xamarin.com/download">Xamarin.Android</a></li>
        </ul>
      </div>
      <div class="large-2 columns">
        <h6>Documentation</h6>
        <ul class="no-bullet">
          <li><a href="{{site.baseurl}}/old_site/Start">Getting Started</a></li>
          <li><a href="http://www.go-mono.com/docs/">API Reference</a></li>
          <li><a href="{{site.baseurl}}/old_site/Articles">Articles</a></li>
        </ul>
      </div>
      <div class="large-2 columns">
        <h6>Community</h6>
        <ul class="no-bullet">
          <li><a href="{{site.baseurl}}/old_site/Mailing_Lists">Mailing Lists</a></li>
          <li><a href="http://www.go-mono.com/forums">Forums</a></li>
          <li><a href="{{site.baseurl}}/old_site/IRC">Chat/IRC</a></li>
          <li><a href="http://www.go-mono.com/monologue">Blogs</a></li>
        </ul>
      </div>
      <div class="large-2 columns">
        <h6>Contribute</h6>
        <ul class="no-bullet">
          <li><a href="{{site.baseurl}}/old_site/Contributing">Contributing Guide</a></li>
          <li><a href="{{site.baseurl}}/old_site/Bugs">Report Bugs</a></li>
          <li><a href="{{site.baseurl}}/old_site/SVN">Source Code</a></li>
          <li><a href="http://go-mono.com/status/">Class Status</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
