<footer>
  <div class="row">
    <div class="small-12 columns">
      <div class="left">
        <strong>&copy; {{site.time | date: '%Y'}} Mono Project</strong>
      </div>
      <div class="right">
        <a href="{{site.github.url}}/atom.xml" title="RSS feed">
          <i class="fa fa-rss fa-2x"></i>
        </a>
        &nbsp;
        <a href="https://github.com/mono/mono" title="GitHub repository">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
