<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="theme-color" content="#222222" />
    <title>{{ page.title }} | Mono</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    {% feed_meta %}
    <link rel="stylesheet" href="/assets/normalize.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/foundation.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/highlightjs/a11y-dark.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/magnific-popup.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />

    <link rel="stylesheet" href="/assets/fontawesome/css/solid.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/fontawesome/css/brands.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />

    <link rel="stylesheet" href="/assets/main.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <script src="/assets/modernizr.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"></script>
    <script>
      // redirect to the real domain in case someone visits the GitHub Pages domain
      if (window.location.hostname === 'mono.github.io') {
        window.location.replace(window.location.href.replace("mono.github.io/website", "www.mono-project.com"));
      }
    </script>
  </head>
  <body>
    <div id="main-wrapper">
      <div id="header-nav" class="contain-to-grid">
        <div id="cookie-banner"></div>

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/" tabindex="-1"><img alt="Mono Logo" src="/images/mono-gorilla.svg" onerror="this.src='/images/mono-gorilla.png'; this.onerror=null;" id="header-logo"/>Mono</a></h1>
            </li>
            <li class="toggle-topbar"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li {% if page.navgroup == "home" or layout.navgroup == "home" %}class="active"{% endif %}><a href="/" tabindex="0"><i class="fas fa-home"></i> Home</a></li>
              <li {% if page.navgroup == "download" or layout.navgroup == "download" %}class="active"{% endif %}><a href="/download/stable/"><i class="fas fa-download"></i> Download</a></li>
              <li {% if page.navgroup == "docs" or layout.navgroup == "docs" %}class="active"{% endif %}><a href="/docs/"><i class="fas fa-book"></i> Documentation</a></li>
              <li {% if page.navgroup == "news" or layout.navgroup == "news" %}class="active"{% endif %}><a href="/news/"><i class="fas fa-bullhorn"></i> News</a></li>
              <li {% if page.navgroup == "community" or layout.navgroup == "community" %}class="active"{% endif %}><a href="/community/"><i class="fab fa-github"></i> Community</a></li>
              <li class="has-form">
                <form id="header-searchform" action="https://www.google.com/search" method="get">
                  <div class="row collapse">
                    <div class="small-11 medium-9 large-10 columns">
                      <input name="as_sitesearch" type="hidden" value="www.mono-project.com" />
                      <input name="q" type="text" title="Search query" placeholder="Search..." />
                    </div>
                    <div class="small-1 medium-3 large-2 columns">
                     <button type="submit" title="Search" class="postfix button"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </section>
        </nav>
      </div>

      {{ content }}

      <div id="push"></div>
    </div>

    <footer>
      <div class="row">
        <div class="small-12 columns">
          <div class="left">
            <strong>&copy; {{site.time | date: '%Y'}} Mono Project</strong>
            <br/>
            <div id="footer-notes">
              <a href="/docs/about-mono/legal/">Legal Notices</a>
              <a id="manageConsentButton">| Change cookie preferences</a>
            </div>
          </div>
          <div class="right">
            <a href="/atom.xml" title="RSS feed">
              <i class="fas fa-rss fa-2x"></i>
            </a>
            &nbsp;
            <a href="https://github.com/mono/mono" title="GitHub repository">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/jquery.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/foundation.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/highlightjs/highlight.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/jquery.magnific-popup.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>

    <script>
      // allow sub pages to run custom code
      if (typeof runScripts == 'function') {
        runScripts();
      }

      $(document).foundation();
      hljs.highlightAll();
      $(document).ready(function() {
        $('.image-link').magnificPopup({
          disableOn: 400,
          image: { verticalFit: false },
          type: 'image'
        });
      });

      // init cookie banner
      function onConsentChanged(categoryPreferences) {
        console.log("onConsentChanged", categoryPreferences);
      }
      function manageConsent() {
        if (siteConsent.isConsentRequired) {
            siteConsent.manageConsent();
        }
      }
      window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
        if (!err) {
          siteConsent = _siteConsent;  // siteConsent is used to get the current consent

          // attach manage consent functionality
          var manageConsentButton = document.getElementById("manageConsentButton");
          if (siteConsent.isConsentRequired) {
            manageConsentButton.addEventListener('click', manageConsent);
          } else {
            manageConsentButton.style.display = "none";
          }
        } else {
          console.log("Error initializing WcpConsent: "+ err);
        }
      }, onConsentChanged, WcpConsent.themes.light);
    </script>
  </body>
  <!--  GitHub revision:  {{ site.github.build_revision }} built at {{ site.time }}
        GitHub Pages URL: {{ site.github.url }}  -->
</html>
