---
layout: base
navgroup: news
---

<div class="row">
  <div class="small-12 columns">
      <article itemscope itemtype="http://schema.org/BlogPosting">{% include blogpost.html %}</article>

      <div>
        <div class="left">
        {% if page.previous.url %}
          <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next.url %}
          <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
        </div>
      </div> 
  </div>
</div>
