---
layout: base
---
<div class="row">
  <div class="small-12 columns">
    <ul class="doc-breadcrumbs-nav breadcrumbs">
      {% assign breadcrumbs = page.url | split: '/' %}
      {% assign url = '' %}
      {% for crumb in breadcrumbs offset:1 %}
        {% capture url %}{{ url }}/{{ crumb }}{% endcapture %}
        {% assign title = crumb | replace: "-", " " %}
        <li class="{% if forloop.last %}current{% endif %}">{% if forloop.first %}<span class="here-note">You are here: </span>{% endif %}{% if forloop.last == false %}<a href="{{ url }}/">{{ title }}</a>{% else %}{{ title }}{% endif %}</li>
      {% endfor %}
      <li class="toc right hidden-for-small-only">
        <a id="toc-dropdown-button-inline" class="tiny secondary button dropdown" href="#" data-dropdown="toc-dropdown">Table of contents</a>
      </li>
    </ul>

    <a id="toc-dropdown-button-separate" class="show-for-small-only tiny secondary button dropdown" href="#" data-dropdown="toc-dropdown">Table of contents</a>
    <ul id="toc-dropdown" data-dropdown-content class="medium f-dropdown"></ul>
  </div>
</div>
<div class="row">
  <div class="doc-content small-12 columns">
    <h1 id="page-title">{{ page.title }}</h1>
    {% if site.github.repository_url %}
    <div class="meta">
      <span data-tooltip class="has-tip" title="Help us improve the Mono website by fixing mistakes on GitHub.<br/>This link will take you directly to this page in our GitHub repository.">
        <a href="{{site.github.repository_url}}/blob/gh-pages/{{page.path}}"><i class="fab fa-github"></i> Edit page on GitHub</a>
      </span>
    </div>
    <p></p>
    {% endif %}

    {{ content }}

  </div>
</div>

<script>
function runScripts() {
  addHeadingAnchorChar();
  addToc();
}

function addHeadingAnchorChar() {
  // add anchor char to each heading, for easier linking
  $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
    var $el = $(el);
    var id = $el.attr('id');
    if (id && id != "page-title") {
      $el.append($("<a />").addClass("heading-anchor-link").attr("href", "#" + id).html('#'));
    }
  });
}

function addToc() {
  var headings = $("h1, h2, h3, h4");
  var toc = $("#toc-dropdown");

  // add each heading to the TOC
  headings.each(function(i, el) {
    var $el = $(el);
    var id = $el.attr('id');
    if (id) {
      toc.append($("<li />").addClass("toc-indent-" + $el.get(0).localName).append($("<a />").attr("href", "#" + id).html($el.contents()[0].wholeText)));
    }
  });
  
  // close dropdown when one of the TOC links is clicked
  toc.find('li').click(function () {
      Foundation.libs.dropdown.close(toc);
  });
}
</script>
