---
layout: docpage
---
{% if page.releasedate and page.releasedate != '' %}
<div class="meta">
  <span class="date"> Release date: {% if page.releasedate == 'skipped' %}skipped{% else %}{{ page.releasedate | date_to_string }}{% endif %}</span>
</div>
{% else %}
<div class="row">
  <div class="small-12 columns">
     <div data-alert class="alert-box warning"><h6><i class="fas fa-exclamation-triangle"></i> These notes are for a current or upcoming <strong>PREVIEW RELEASE</strong> and might not reflect the final release.</div>
  </div>
</div>
{% endif %}

{{ content }}